<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "description": "{{ site.description }}",
  "publisher": {
    "@type": "Person",
    "name": "Battam1111",
    "url": "https://github.com/Battam1111"
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.url }}{{ site.baseurl }}/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
